<div class="patients-container">
    <div class="header">
        <h1>Elenco pazienti</h1>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new">Add</button>
            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new">Edit</button>
            <button type="button" class="btn btn-primary">Remove</button> -->

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    New acquisition
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">EEG</a></li>
                    <li><a class="dropdown-item" href="#">EMG</a></li>
                </ul>
            </div>
        </div>
    </div>
    <patients-list [listaPazienti]="listaPazienti" (onPatientSelected)="patientWasSelected($event)"></patients-list>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="new" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New patient</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <patient></patient>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>



</div>