.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn.btn-primary {
    margin-right: 10px;
    border-radius: 0px !important;
}
